{% extends 'layout.html' %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<form action='/login' method=post>
    <div>
        {{ render_field(form.username, class = 'form-control col-md-6') }}
        {{ render_field(form.password, class = 'form-control col-md-6') }}
        <button type="submit" name='Login' value='Login'>Login</button>
        <button type='submit' name='forgettenpass' value='forgettenpass'>Forget My Password</button>
    </div>
    
</form>

{% endblock body %}